#  Copyright (c) 2025 Tenstorrent AI ULC
#  SPDX-License-Identifier: Apache-2.0

if GPIO

menu "GPIO drivers"

# zephyr-keep-sorted-start
rsource "Kconfig.tt_bh"
rsource "Kconfig.tt_gr"
# zephyr-keep-sorted-stop

endmenu

endif
