# Copyright (c) 2025 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

config BH_FWTABLE
	bool "Tenstorrent Blackhole Firmware Table"
	default y
	depends on DT_HAS_TENSTORRENT_BH_FWTABLE_ENABLED
	depends on TT_BOOT_FS
	help
		Enable the Tenstorrent Blackhole Firmware Table.

if BH_FWTABLE

module = BH_FWTABLE
module-str = bh_fwtable
source "subsys/logging/Kconfig.template.log_config"

endif
