build-job:
  image: ghcr.io/tenstorrent/tt-zephyr-platforms/ci-image:v19.4.2
  script:
    - cd /tt-zephyr/tt-zephyr-platforms
    # Pull repo revision to run CI on
    - git remote add ci $CI_REPOSITORY_URL
    - git fetch ci $CI_COMMIT_SHA
    - git checkout FETCH_HEAD
    - west packages pip --install
    - west update
    - cd /tt-zephyr
    - ./tt-zephyr-platforms/scripts/ci/build-grendel.sh

  tags:
    - 8-core
