# Copyright (c) 2026 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

# Grendel SMC SOC- this core should be selected by any SOC that includes
# The Grendel SMC core, but should not be enabled as a standalone SOC option
config TT_GRENDEL_SMC
	bool
	help
	  Tenstorrent Mimir System Management Controller (SMC)
