/*
 * Copyright (c) 2025 Tenstorrent AI ULC
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	partitions {
		compatible = "tenstorrent,tt-boot-fs", "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		flash-device-size = <0x1000000>;
		flash-block-size = <0x1000>;

		cmfwcfg@14000 {
			label = "cmfwcfg";
			reg = <0x14000 0x1000>;
			binary-path = "$BUILD_DIR/smc/generated_board_cfg/P150A/fw_table.bin";
		};

		cmfw@15000 {
			label = "cmfw";
			reg = <0x15000 0x19000>;
			binary-path = "$BUILD_DIR/smc/zephyr/zephyr.bin";
		};

		ethfwcfg@2b000 {
			label = "ethfwcfg";
			reg = <0x2b000 0x1000>;
			binary-path = "$ROOT/zephyr/blobs/tt_blackhole_erisc_params.bin";
		};

		ethfw@2c000 {
			label = "ethfw";
			reg = <0x2c000 0x9000>;
			binary-path = "$ROOT/zephyr/blobs/tt_blackhole_erisc.bin";
		};

		memfwcfg@35000 {
			label = "memfwcfg";
			reg = <0x35000 0x1000>;
			binary-path = "$ROOT/zephyr/blobs/tt_blackhole_gddr_params_P150A.bin";
		};

		memfw@36000 {
			label = "memfw";
			reg = <0x36000 0x4000>;
			binary-path = "$ROOT/zephyr/blobs/tt_blackhole_gddr_init.bin";
		};

		ethsdreg@3a000 {
			label = "ethsdreg";
			reg = <0x3a000 0x1000>;
			binary-path = "$ROOT/zephyr/blobs/tt_blackhole_serdes_eth_fwreg.bin";
		};

		ethsdfw@3b000 {
			label = "ethsdfw";
			reg = <0x3b000 0x5000>;
			binary-path = "$ROOT/zephyr/blobs/tt_blackhole_serdes_eth_fw.bin";
		};

		bmfw@40000 {
			label = "bmfw";
			reg = <0x40000 0xc000>;
			binary-path = "$BUILD_DIR/dmc/zephyr/zephyr.signed.bin";
		};

		flshinfo@4c000 {
			label = "flshinfo";
			reg = <0x4c000 0x4000>;
			binary-path = "$BUILD_DIR/smc/generated_board_cfg/P150A/flash_info.bin";
		};

		failover@4d000 {
			label = "failover";
			reg = <0x4d000 0x13000>;
			binary-path = "$BUILD_DIR/recovery/zephyr/zephyr.bin";
		};

		boardcfg@fff000 {
			label = "boardcfg";
			reg = <0xfff000 0x1000>;
			binary-path = "$BUILD_DIR/smc/generated_board_cfg/P150A/read_only.bin";
			read-only;
		};
	};
};
