# Copyright (c) 2026 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

config OCCP
	bool "OCCP Subsystem"
	select CRC # Required for header checksum calculations
	help
	  Enable support for the OCCP (Open Chiplet Configuration Protocol)
	  subsystem

if OCCP

choice OCCP_BACKEND
	prompt "OCCP Backend"
	default OCCP_BACKEND_I3C

config OCCP_BACKEND_I3C
	bool "I3C Backend"
	select I3C
	help
	  Use the I3C-based OCCP backend, which communicates with a remote
	  OCCP target over the I3C bus.

endchoice

if OCCP_BACKEND_I3C

config OCCP_I3C_READ_TIMEOUT_MS
	int "OCCP I3C Read Timeout (ms)"
	default 5000
	help
	  Set the timeout for I3C read operations in the OCCP I3C backend. If a read
	  operation takes longer than this value, it will be aborted and an error will
	  be returned.
	  Note this timeout is currently very long to support running in
	  simulation environments

endif # OCCP_BACKEND_I3C

module = OCCP
module-str = occp
source "subsys/logging/Kconfig.template.log_config"

endif # OCCP
