#  Copyright (c) 2025 Tenstorrent AI ULC
#  SPDX-License-Identifier: Apache-2.0

if MFD

menu "MFD Drivers"

# zephyr-keep-sorted-start
rsource "Kconfig.max6639"
# zephyr-keep-sorted-stop

endmenu

endif
