# Copyright (c) 2025 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

menuconfig AVS
	bool "AVS Drivers"

if AVS

menu "AVS drivers"

# zephyr-keep-sorted-start
rsource "Kconfig.tt_avs"
# zephyr-keep-sorted-stop

endmenu

endif
