#  Copyright (c) 2025 Tenstorrent AI ULC
#  SPDX-License-Identifier: Apache-2.0

if SENSOR

menu "Tenstorrent sensor drivers"

# zephyr-keep-sorted-start
rsource "Kconfig.bh_pvt"
# zephyr-keep-sorted-stop

endmenu

endif
