/*
 * Copyright (c) 2024 Tenstorrent AI ULC
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,tracing-uart = &vuart1;
	};
};

&vuart1 {
	status = "okay";
};

/*
 * Slow SPI flash frequency. Otherwise programming will fail with
 * additional tracing overhead
 */
&spi_flash {
	mspi-max-frequency = <DT_FREQ_M(4)>;
};
