/*
 * Copyright (c) 2024 Tenstorrent AI ULC
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/g0/stm32g0b1Xe.dtsi>
#include <st/g0/stm32g0b1c(b-c-e)tx-pinctrl.dtsi>

/ {
	model = "Tenstorrent Blackhole board";
	compatible = "tenstorrent,blackhole";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};
};

#include "tt_blackhole_dmc.dtsi"

&chip0 {
	jtag0: jtag {
		compatible = "zephyr,jtag-gpio";
		port-write-cycles = <2>;

		tck-gpios = <&gpiob 10 GPIO_ACTIVE_HIGH>;
		tdi-gpios = <&gpiob 15 GPIO_ACTIVE_HIGH>;
		tdo-gpios = <&gpiob 1 GPIO_PULL_UP>;
		tms-gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
		trst-gpios = <&gpiod 0 GPIO_ACTIVE_LOW>;
	};

	strapping {
		/* Use QUAD DDR SPI mode, GPIO[39:38] = 2 is QUAD mode, GPIO40 is DDR_EN */
		gpio38 {
			compatible = "zephyr,gpio-line";
			label = "GPIO pin representing strap GPIO38_SPI_MODE_0";
			gpios = <&chip0_strapping 3 GPIO_ACTIVE_LOW>;
		};

		gpio39 {
			compatible = "zephyr,gpio-line";
			label = "GPIO pin representing strap GPIO39_SPI_MODE_1";
			gpios = <&chip0_strapping 4 GPIO_ACTIVE_HIGH>;
		};

		gpio40 {
			compatible = "zephyr,gpio-line";
			label = "GPIO pin representing strap GPIO40_SPI_DDR_EN";
			gpios = <&chip0_strapping 5 GPIO_ACTIVE_HIGH>;
		};
	};
};

/ {
	chips {
		compatible = "tenstorrent,bh-chips";
		chips = <&chip0>;
		primary = <0>;
	};
};

&i2c1 {
	chip0_strapping: strapping_expander@21 {
		compatible = "nxp,pca9555";
		status = "okay";

		#gpio-cells = <2>;
		ngpios = <16>;
		reg = <0x21>;
		gpio-controller;
	};
};

&smbus3 {
	status = "okay";

	chip0_arc: bh_arc@A {
		compatible = "tenstorrent,bh-arc";
		reg = <0xA>;
	};
};
