# Copyright (c) 2024 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

# Enable RTT
CONFIG_USE_SEGGER_RTT=y

# enable console
CONFIG_CONSOLE=y
CONFIG_RTT_CONSOLE=y

# GPIO Controller
# CONFIG_GPIO=y

# enable plls
CONFIG_CLOCK_CONTROL=y
CONFIG_CLOCK_CONTROL_TT_BH_PLL_COMMON_INIT=y

# enable i2c
CONFIG_I2C=y
CONFIG_I2C_DW_CLOCK_SPEED=50

# enable flash
CONFIG_FLASH=y

# enable external spi flash
CONFIG_FLASH_MSPI_NOR_RUNTIME_PROBE=y
