/*
 * Copyright (c) 2024 Tenstorrent AI ULC
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/g0/stm32g0b1Xe.dtsi>
#include <st/g0/stm32g0b1c(b-c-e)tx-pinctrl.dtsi>

/ {
	model = "Tenstorrent Blackhole board";
	compatible = "tenstorrent,blackhole";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	gpio0: gpio@800301a0 {
		status = "okay";
		compatible = "tenstorrent,bh-gpio";
		reg = <0x800301a0 0x4>,
		      <0x800301ac 0x4>,
		      <0x800301b4 0x4>;
		reg-names = "trien",
					"rxen",
					"data";
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <16>;
	};

	gpio1: gpio@80030240 {
		status = "okay";
		compatible = "tenstorrent,bh-gpio";
		reg = <0x80030240 0x4>,
		      <0x8003025c 0x4>,
		      <0x80030254 0x4>;
		reg-names = "trien",
					"rxen",
					"data";
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>;
	};

	gpio2: gpio@80030580 {
		status = "okay";
		compatible = "tenstorrent,bh-gpio";
		reg = <0x80030580 0x4>,
		      <0x8003058c 0x4>,
		      <0x80030594 0x4>;
		reg-names = "trien",
					"rxen",
					"data";
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>;
	};

	gpio3: gpio@800305a0 {
		status = "okay";
		compatible = "tenstorrent,bh-gpio";
		reg = <0x800305a0 0x4>,
		      <0x800305ac 0x4>,
		      <0x800305b4 0x4>;
		reg-names = "trien",
					"rxen",
					"data";
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <8>;
	};
};

#include "tt_blackhole_dmc.dtsi"

&chip0 {
    jtag0: jtag {
		compatible = "zephyr,jtag-gpio";
		port-write-cycles = <2>;

		tck-gpios = <&gpiob 10 GPIO_ACTIVE_HIGH>;
		tdi-gpios = <&gpiob 15 GPIO_ACTIVE_HIGH>;
		tdo-gpios = <&gpiob 1 GPIO_PULL_UP>;
		tms-gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
		trst-gpios = <&gpiod 0 GPIO_ACTIVE_LOW>;
	};
};

/ {
	chips {
		compatible = "tenstorrent,bh-chips";
		chips = <&chip0>;
		primary = <0>;
	};
};

&smbus3 {
	status = "okay";
	compatible = "st,tt-stm32-smbus";

	chip0_arc: bh_arc@A {
		compatible = "tenstorrent,bh-arc";
		reg = <0xA>;
	};
};
