# zephyr-keep-sorted-start
cmsis-pack-manager>=0.6.0
devicetree
grpcio-tools
protobuf
pytest-repeat
west
# zephyr-keep-sorted-stop

# zephyr-keep-sorted-start
pyluwen>=0.8.1; sys_platform == "linux"
tt-burnin>=0.4.0; sys_platform == "linux"
tt-flash==3.6.2; sys_platform == "linux"
tt-smi==4.1.2; sys_platform == "linux"
tt-tools-common>=1.4.31; sys_platform == "linux"
# zephyr-keep-sorted-stop

# restrict tt-smi to < 4.0.0 for now, to avoid the issue with long reset times
# due to waiting for ethernet training to complete or time out
# (see https://github.com/tenstorrent/tt-smi/pull/197)
