# zephyr-keep-sorted-start
cmsis-pack-manager>=0.6.0
devicetree
grpcio-tools
protobuf
west
# zephyr-keep-sorted-stop

# zephyr-keep-sorted-start
pyluwen
tt-flash @ git+https://github.com/danieldegrasse/tt-flash.git@ac5ff191194e201a3626a241dfc1dd79fb97e24f
tt-smi>=3.0.23
tt-tools-common
# zephyr-keep-sorted-stop
