# zephyr-keep-sorted-start
grpcio-tools
protobuf
pyluwen @ git+https://github.com/tenstorrent/luwen.git@v0.6.5#subdirectory=crates/pyluwen
west
# zephyr-keep-sorted-stop

# FIXME: these need dependencies sorted out with uv. For some reason, also, any git+https repos
# cause a failure along the lines of
# ERROR: Can't verify hashes for these requirements because we don't have a way to hash version \
#   control repositories:
# tt-flash @ git+https://github.com/tenstorrent/tt-flash.git
# tt-smi @ git+https://github.com/tenstorrent/tt-smi.git
