# Copyright (c) 2024 Tenstorrent, Inc.
# SPDX-License-Identifier: Apache-2.0

config TT_BH_ARC
	bool "Blackhole ARC firmware library"
	depends on NANOPB
	# this is a hack
	default y if BOARD_TT_BLACKHOLE_TT_BLACKHOLE_SMC
	help
	  This option enables the Blackhole ARC firmware library.

# This is a hack - the msgqueue test depends on this value but
# This library depends on nanopb and specifically values from nanopb stored in spi falsh
# We really cannot depend on nanopb outside of the application.
# And that definition of application does not include drivers.
#if TT_BH_ARC

config TT_BH_ARC_NUM_MSG_CODES
	int "Number of message codes"
	default 192
	help
	  The number of message codes

#endif
