/*
 * Copyright (c) 2026 Tenstorrent AI ULC
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	ref_clk: ref_clk {
		compatible = "fixed-clock";
		clock-frequency = <50000000>;
		#clock-cells = <0>;
	};
};

&{/soc} {
	cgm0: cgm@c0003100 {
		compatible = "tenstorrent,grendel-clock-control";
		reg = <0x0 0xc0003100 0x0 0x92>;
		clocks = <&ref_clk>;
		#clock-cells = <0>;
		max-frequency = <800>;
		status = "okay";
	};
};
