# Copyright (c) 2026 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

config TT_SMC_REMOTEPROC
	bool "Tenstorrent SMC Remote Processor Driver"
	default y
	select I3C
	select GPIO
	select OCCP
	depends on DT_HAS_TENSTORRENT_SMC_REMOTEPROC_ENABLED
	help
	  Enable the Remote Processor driver for the Tenstorrent SMC platform.

if TT_SMC_REMOTEPROC

config TT_SMC_REMOTEPROC_INIT_PRIO
	int
	default 75
	help
	  Set the initialization priority of the Tenstorrent SMC Remote Processor driver.

choice OCCP_BACKEND
	default OCCP_BACKEND_I3C
endchoice

endif # TT_SMC_REMOTEPROC
