# Copyright (c) 2024 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

rsource "banner/Kconfig"
rsource "bh_arc/Kconfig"
rsource "bist/Kconfig"
rsource "boot_fs/Kconfig"
rsource "fwupdate/Kconfig"
rsource "jtag_bootrom/Kconfig"
rsource "bh_chip/Kconfig"
