# Copyright (c) 2024 Tenstorrent AI ULC
# SPDX-License-Identifier: Apache-2.0

config BOARD_TT_BLACKHOLE
	select SOC_STM32G0B1XX if BOARD_TT_BLACKHOLE_STM32G0B1XX
	select SOC_TT_BLACKHOLE_SMC if BOARD_TT_BLACKHOLE_TT_BLACKHOLE_SMC
