name: Hardware Smoke Tests

on:
  push:
    branches:
      - main
      - v*-branch
      - collab*
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - main
      - v*-branch
      - collab*

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  hardware-smoke-test:
    strategy:
      fail-fast: false
      matrix:
        config:
          - board: p100a
            runs-on:
              - p100a-jtag
          - board: p150a
            runs-on:
              - p150a-jtag
          - board: p300a
            runs-on:
              - p300a-jtag
    runs-on: ${{ matrix.config.runs-on }}
    container:
      image: ghcr.io/tenstorrent/tt-zephyr-platforms/ci-image:v18.12.0-rc1
      volumes:
        - /dev/hugepages-1G:/dev/hugepages-1G
        - /lib/modules:/lib/modules
      options: '--device /dev/tenstorrent --device /dev/bus/usb --privileged'
    steps:
      - name: Cleanup State
        if: ${{ always() }}
        run: |
          # Print state of current directory
          ls -la
          # Clean up any files left over from previous steps
          rm -rf *

      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          path: tt-zephyr-platforms

      - name: Prepare Container
        uses: ./tt-zephyr-platforms/.github/workflows/prepare-container
        with:
          app-path: tt-zephyr-platforms

      - name: Set ASIC ID
        shell: bash
        run: |
          if [ ${{ matrix.config.board }} = 'p300a' ]; then
            echo "ASIC_ID=1" >> "$GITHUB_ENV"
          else
            echo "ASIC_ID=0" >> "$GITHUB_ENV"
          fi

      - name: run-dmc-tests
        run: |
          tt-zephyr-platforms/scripts/ci/run-smoke.sh -t dmc -p $ASIC_ID ${{ matrix.config.board }}

      - name: Upload DMC Smoke Tests
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: DMC Smoke test results (${{ matrix.config.board }})
          include-hidden-files: true
          path: |
            zephyr/twister-dmc-smoke/**/handler.log
            zephyr/twister-dmc-smoke/**/twister_harness.log
            zephyr/twister-dmc-smoke/**/zephyr.dts
            zephyr/twister-dmc-smoke/**/.config
            zephyr/twister-dmc-smoke/**/*.map
            zephyr/twister-dmc-smoke/**/zephyr.elf
            zephyr/twister-dmc-smoke/**/*.lst
            zephyr/twister-dmc-smoke/**/device.log
            zephyr/twister-dmc-smoke/twister.log
            zephyr/twister-dmc-smoke/twister.json

      - name: run-smc-tests
        run: |
          tt-zephyr-platforms/scripts/ci/run-smoke.sh -t smc -p $ASIC_ID ${{ matrix.config.board }}


      - name: Upload SMC Smoke Tests
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: SMC Smoke test results (${{ matrix.config.board }})
          include-hidden-files: true
          path: |
            zephyr/twister-smc-smoke/**/handler.log
            zephyr/twister-smc-smoke/**/twister_harness.log
            zephyr/twister-smc-smoke/**/zephyr.dts
            zephyr/twister-smc-smoke/**/.config
            zephyr/twister-smc-smoke/**/*.map
            zephyr/twister-smc-smoke/**/zephyr.elf
            zephyr/twister-smc-smoke/**/*.lst
            zephyr/twister-smc-smoke/**/device.log
            zephyr/twister-smc-smoke/twister.log
            zephyr/twister-smc-smoke/twister.json

      - name: Print RTT logs
        if: ${{ failure() }}
        working-directory: tt-zephyr-platforms
        run: |
          echo "DMC RTT logs:"
          python3 ./scripts/dmc_rtt.py -n
          echo "SMC RTT logs:"
          python3 ./scripts/smc_console.py --rtt -n
          echo "SMC state dump:"
          python3 ./scripts/dump_smc_state.py --asic-id $ASIC_ID

  smoke-e2e-test:
    strategy:
      fail-fast: false
      matrix:
        config:
          - board: p100a
            runs-on:
              - p100a-jtag
          - board: p150a
            runs-on:
              - p150a-jtag
          - board: p300a
            runs-on:
              - p300a-jtag
    runs-on: ${{ matrix.config.runs-on }}
    container:
      image: ghcr.io/tenstorrent/tt-zephyr-platforms/ci-image:v18.12.0-rc1
      volumes:
        - /dev/hugepages-1G:/dev/hugepages-1G
        - /lib/modules:/lib/modules
      options: '--device /dev/tenstorrent --device /dev/bus/usb --privileged'
    steps:
      - name: Cleanup State
        if: ${{ always() }}
        run: |
          # Print state of current directory
          ls -la
          # Clean up any files left over from previous steps
          rm -rf *

      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          path: tt-zephyr-platforms

      - name: Prepare Container
        uses: ./tt-zephyr-platforms/.github/workflows/prepare-container
        with:
          app-path: tt-zephyr-platforms

      - name: build-tt-smc_console
        working-directory: tt-zephyr-platforms/scripts/tooling
        run: |
          # Build tt-console
          make

      - name: Generate board names
        working-directory: tt-zephyr-platforms
        shell: bash
        run: |
          SMC_BOARD="$(./scripts/rev2board.sh "${{ matrix.config.board }}" smc)"
          echo "SMC_BOARD=$SMC_BOARD" >> "$GITHUB_ENV"

          DMC_BOARD="$(./scripts/rev2board.sh "${{ matrix.config.board }}" dmc)"
          echo "DMC_BOARD=$DMC_BOARD" >> "$GITHUB_ENV"

          if [ ${{ matrix.config.board }} = 'p300a' ]; then
            echo "CONSOLE_DEV=/dev/tenstorrent/1" >> "$GITHUB_ENV"
            echo "ASIC_ID=1" >> "$GITHUB_ENV"
          else
            echo "CONSOLE_DEV=/dev/tenstorrent/0" >> "$GITHUB_ENV"
            echo "ASIC_ID=0" >> "$GITHUB_ENV"
          fi

      - name: build-tt-smc_console
        working-directory: tt-zephyr-platforms/scripts/tooling
        run: |
          # Build tt-console
          make

      - name: run-e2e-tests
        working-directory: zephyr
        run: |
          # TODO: ideally we would use one twister command to build and
          # flash DMC and SMC firmware, but since each chip uses a separate
          # debug adapter this doesn't work. For now, just flash DMC
          # then run twister with SMC firmware
          ./scripts/twister -i \
            --tag e2e \
            -p $DMC_BOARD --device-testing \
            --device-serial-pty ../tt-zephyr-platforms/scripts/dmc_rtt.py \
            --flash-before \
            --west-flash \
            -T ../tt-zephyr-platforms/app \
            --outdir twister-dmc-e2e
          # Run E2E test to verify DMC and SMC firmware boot, and that
          # the SMC firmware sets up PCIe and ARC messages
          ./scripts/twister -i \
            -p $SMC_BOARD --device-testing \
            --tag e2e \
            --device-serial-pty "../tt-zephyr-platforms/scripts/smc_console.py -d $CONSOLE_DEV -p" \
            --failure-script "../tt-zephyr-platforms/scripts/smc_test_recovery.py --asic-id $ASIC_ID" \
            --flash-before \
            --west-flash \
            -T ../tt-zephyr-platforms/app \
            --outdir twister-smc-e2e

      - name: run-e2e-flash-test
        working-directory: zephyr
        run: |
          # Run a full flash test, using tt-flash as the runner
          ./scripts/twister -i -p $SMC_BOARD \
            --tag e2e-flash -T ../tt-zephyr-platforms/app \
            --west-flash="--force" \
            --west-runner tt_flash \
            --device-testing -c \
            --device-serial-pty "../tt-zephyr-platforms/scripts/smc_console.py -d $CONSOLE_DEV -p" \
            --failure-script "../tt-zephyr-platforms/scripts/smc_test_recovery.py --asic-id $ASIC_ID" \
            --flash-before \
            --outdir twister-e2e-flash

      - name: Upload E2E Test results
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: E2E test results (${{ matrix.config.board }})
          include-hidden-files: true
          path: |
            zephyr/twister-*e2e*/**/handler.log
            zephyr/twister-*e2e*/**/twister_harness.log
            zephyr/twister-*e2e*/**/zephyr.dts
            zephyr/twister-*e2e*/**/.config
            zephyr/twister-*e2e*/**/*.map
            zephyr/twister-*e2e*/**/zephyr.elf
            zephyr/twister-*e2e*/**/*.lst
            zephyr/twister-*e2e*/**/device.log
            zephyr/twister-*e2e*/twister.log
            zephyr/twister-*e2e*/twister.json
            zephyr/twister-*e2e*/**/update.fwbundle

      - name: Print RTT logs
        if: ${{ failure() }}
        working-directory: tt-zephyr-platforms
        run: |
          echo "DMC RTT logs:"
          python3 ./scripts/dmc_rtt.py -n
          echo "SMC RTT logs:"
          python3 ./scripts/smc_console.py --rtt -n
          echo "SMC state dump:"
          python3 ./scripts/dump_smc_state.py --asic-id $ASIC_ID
