name: Verify Blob

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - edited
    branches:
      - main
      - v*-branch
      - collab*

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  verify_blob:
    runs-on: ubuntu-22.04
    name: Verify & update verify blob sha256sum
    steps:

      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: tt-system-firmware
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - name: Install PyYAML
        run: pip install pyyaml

      - name: Verify blob
        working-directory: tt-system-firmware
        run: |
          python scripts/verify_blob.py
